// Please leep this list in alphabetical order!
// Keep usernames prefixed with a slash, it's important
.author[href$="/Arukaito"]:not(.moderator){color: #FF3333 }
.author[href$="/Arukaito"]:not(.moderator):after{content:" Staff ╰(=.=╰)"}
.author[href$="/Arukaito"].moderator:after{content:"Anuncio Official╰(=.=╰)"}
.author[href$="/Arukaito"].moderator{font-size:0}

.author[href$="/ferf0"]:not(.moderator){color: #FFA233}
.author[href$="/ferf0"]:not(.moderator):after{content:" Staff ╰(=.=╰)"}
.author[href$="/ferf0"].moderator:after{content:"Anuncio Official╰(=.=╰) "}
.author[href$="/ferf0"].moderator{font-size:0}

// Fanart contest flairs
.author[href$="/SteamyTomato"]:after,
.author[href$="/cheesewoo"]:after,
.author[href$="/omegaigniz"]:before {
	// Hack: In order to clip the spritesheet to only the part we need, we use
	// background-clip: content-box; and rely on the text overflowing on hover.
	// To ensure there's enough room for the text on hover, we set an arbitrary
	// padding-right that's wide enough to contain all the text.
	content: " #1 Concurso de Logotipo!";
	color: #37ada3;
	background: content-box url("images/general.png") 0 -115px/128px no-repeat red;
	display: inline-block;
	height: 13px;
	width: 13px;
	margin-left: .3em;
	margin-bottom: .2em;
	text-indent: -9999em;
	vertical-align: middle;
	white-space: nowrap;
}
.author[href$="/SteamyTomato"]:hover:after,
.author[href$="/cheesewoo"]:hover:after,
.author[href$="/Earth2Mars"]:hover:before {
	padding-right: 122px;
	text-indent: 17px;
}
// Comment authors' names are bold, so we need more space
.comment .author[href$="/SteamyTomato"]:hover:after,
.comment .author[href$="/cheesewoo"]:hover:after,
.comment .author[href$="/Earth2Mars"]:hover:before {padding-right: 136px}
// Custom colors for the other two
.author[href$="/Earth2Mars"]:before {color: #00E6B8}
.author[href$="/cheesewoo"]:after {color: #ffb973}
